.me {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 3px solid #106410;
    padding: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.me h1 {
    padding-bottom: 0.5em;
}

.me header img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.me p {
    width: 18em;
    line-height: 1.5;
}
